$white: #FFFFFF;

$black: #000000;
$eirie_black: #1d1d1b;

$granite_gray: #616161;
$ironside_grey:#666666;
$gainsboro:#DFDFDF;


$azure:#5464e8;
$bright_turquoise:#00E2CF;
$pink:#df54e8 ;

$sun_yellow:#FFDF17;
$sun_yellow_ligth:#ffe017c7;
$yellow_orange: rgb(255, 174, 0);

$red: #F00000;
